<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-fingerprintid" version="1.0.0">
    <name>FingerprintID</name>
    <description>Cordova Fingerprint and Touch ID Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova, touchid, fingerprint, touch id, authentication, biometric, samsung, pass</keywords>
    <repo>https://github.com/josafafilho/fingerprintid.git</repo>
    
    <js-module src="www/FingerprintID.js" name="FingerprintID">
        <clobbers target="FingerprintID" />
    </js-module>
    
    <js-module src="www/FingerprintIDConstants.js" name="FingerprintIDConstants">
        <clobbers target="FingerprintIDConstants" />
    </js-module>
    
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FingerprintID">
                <param name="ios-package" value="FingerprintID"/>
            </feature>
        </config-file>
        <header-file src="src/ios/FingerprintID.h" />
        <source-file src="src/ios/FingerprintID.m" />
    </platform>
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FingerprintID" >
                <param name="android-package" value="com.josafafilho.fingerprintid"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.USE_FINGERPRINT" />
            <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
        </config-file>

        <source-file src="src/android/FingerprintID.java" target-dir="src/com/josafafilho/fingerprintid" />
        <source-file src="src/android/FingerprintCallbackHandlerInterface.java" target-dir="src/com/josafafilho/fingerprintid" />
        <source-file src="src/android/authentication" target-dir="src/com/josafafilho/fingerprintid" />
        <source-file src="src/android/libs/sdk-v1.0.0.jar" target-dir="libs" />
        <source-file src="src/android/libs/pass-v1.2.1.jar" target-dir="libs" />
    </platform>
</plugin>